<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     
   <form action="/add_employee" method="post">
      <input type="text" name="firstname">
      <input type="text" name="lastname">
      <input type="email" name="email">
      <input type="text" name="department">
      <input type="number" name="salary">
      <input type="date" name="hiredate">
      <input type="submit" value="add">

   </form>
   <form action="/update_employee" method="post">
    <input type="text" name="id">
    <input type="text" name="first_name">
      <input type="text" name="last_name">
      <input type="email" name="email">
      <input type="text" name="department">
      <input type="number" name="salary">
      <input type="date" name="hire_date">
      <input type="submit" value="update">
   </form>

   <form action="/delete_employee" method="post">
    <input type="text" name="search_id" placeholder="Enter id">
    <input type="text" name="search_name" placeholder="Enter name">
    <input type="submit" value="delete">

 </form>
   <form action="/employees" method="get">
    <table>
      <tr>
        <th>EmployeeId</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
        <th>Dept</th>
        <th>Salary</th>
        <th>HireDate</th>
      </tr>
      {% for data in result %}
      <tr>
        <td>{{ data['id'] }}</td>
        <td>{{ data['first_name'] }}</td>
        <td>{{ data['last_name'] }}</td>
        <td>{{ data['email'] }}</td>
        <td>{{ data['department'] }}</td>
        <td>{{ data['salary'] }}</td>
        <td>{{ data['hire_date'] }}</td>
      </tr>
       {% endfor %}
    </table>
      </form>
</body>
</html>



<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 28px;
  }
  
  td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
  }
  th {
    background-color: #000000;
    color: whitesmoke;
    border: 2px solid #ffffff;


  }
  </style>